body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: hsl(248, 39%, 39%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1 auto;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 6px;
  border-style: none;
  border-radius: 8px;
}

#calc {
  width: 280px;
  background-color: hsl(271, 40%, 50%);

  border: 6px solid hsl(271, 40%, 25%);
  border-radius: 6px;

  padding: 12px 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calcDisplay {
  width: 100%;
  flex: 2 auto;

  background-color: hsl(59, 50%, 50%);
  border: 3px solid hsl(110, 40%, 25%);
  border-radius: 8px;

  color: hsl(270, 100%, 50%);
  font-size: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#calcResult,
#calcInput {
  flex: 0 0 50%;
  padding: 4px 8px;
}
#calcResult {
  text-align: start;
}
#calcInput {
  text-align: end;
}

.buttonContainer {
  width: 100%;
  max-height: 240px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#numButtons {
  flex-basis: 60%;
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: flex-start;
}

#opButtons {
  flex-basis: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: center;
}

#numButtons,
#opButtons {
  box-sizing: border-box;
  height: 225px;
  gap: 8px;
  padding: 4px 8px;
}
