@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: hsl(300, 24%, 80%);

  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 48px;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  background: linear-gradient(
      to right,
      #ff0000,
      hsl(160, 45%, 61%),
      hsl(275, 100%, 25%),
      hsl(302, 46%, 29%)
    )
    text;
  color: transparent;

  padding: 8px 8px;
}

footer {
  flex: 1 auto;
}

.button {
  box-sizing: border-box;
  background-color: hsl(160, 45%, 61%);
  color: hsl(302, 46%, 29%);

  font-family: "Playwrite US Trad";
  font-size: 18px;
  font-weight: 400;

  padding: 4px 18px;
  border-style: none;
  border-radius: 8px;
}

.container {
  flex: 8 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.controls {
  box-sizing: border-box;
  flex: 3 1 35%;
  padding: 4px 8px;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 8px;
}

.sketchpad {
  box-sizing: border-box;
  flex: 5 0 65%;
  padding: 4px 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gridRow {
  flex: 1 0 auto;
  min-width: 70%;
  display: flex;

  border-style: groove;
  border-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: hsl(182, 25%, 50%);
}

.fragment {
  flex: 1 0 auto;
}
